{% extends "base.html" %}

{% block class %}
class="sub_page"
{% endblock class %}

{% block tablestatus %}active{% endblock tablestatus %}

{% block mainblock %}
<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Book A Table</h2>
    </div>
    <div class="row">
      <!-- Booking Form -->
      <div class="col-md-6">
        <div class="form_container">
          <form action="{% url 'Book_table_view' %}" method="POST">
            {% csrf_token %}
            <div>
              <input type="text" class="form-control" name="user_name" required placeholder="Your Name" />
            </div>
            <div>
              <input type="text" class="form-control" name="phone_number" required placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" class="form-control" name="email" required placeholder="Your Email" />
            </div>
            <div>
              <select class="form-control nice-select wide" required name="total_person">
                <option value="" disabled selected>How many persons?</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div>
              <input type="date" name="booking_date" required class="form-control">
            </div>
            <div class="btn_box">
              <button>Book Now</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Google Map -->
      <div class="col-md-6">
        <div class="map_container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.0312992861986!2d77.0150416!3d28.388122600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d23cd4ca3faa3%3A0xb312f532d4cb5dae!2sSHAHI%20SPICE&#39;S!5e0!3m2!1sen!2sin!4v1761983556549!5m2!1sen!2sin"
            width="100%"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->
{% endblock mainblock %}
